.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "button1 button2"
    "button3 button4";
  gap: 10px;
}

.button1 {
  grid-area: button1;
}

.button2 {
  grid-area: button2;
}

.button3 {
  grid-area: button3;
}

.button4 {
  grid-area: button4;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

section {
  margin: 100px;
}
